
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{password.reset.title}"></title>
	<th:block th:include="fragments/includes :: header"></th:block>
</head>
<body>
	<th:block th:include="fragments/includes :: nav('')"></th:block>
	
	<div class="container">
		
		<div th:if="${changeRequest}" class="jumbotron settings-jumbotron">
			<form autocomplete="off" action="#" th:action="@{/user/password/request}" th:object="${email}" method="POST" class="form-horizontal" role="form">
				<h4 th:text="#{password.reset.request}"></h4>
				<hr>
				<div class="form-group">
					<input type="text" th:field="*{email}" placeholder="Email" class="form-control bootstrap-tagsinput" />
					<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
				</div>
				<button type="submit" class="btn btn-primary btn-block" th:text="#{password.reset.email.request}"></button>
				<div align="center" th:if="${param.requestSent}">
					<p style="color: green;" th:text="#{password.reset.email.sent}"></p>
				</div>
			</form>
		</div>
		
		<div th:unless="${changeRequest}" class="jumbotron settings-jumbotron">
		
			<form th:action="@{/user/password/reset/{reset}(reset=${resetCode})}" th:object="${password}" method="post">
				<h4 th:text="#{password.reset.change}"></h4>
				<hr>
				<div class="form-group">
					<input type="password" th:field="*{passwordNew}" th:placeholder="#{register.password}" class="form-control bootstrap-tagsinput" /> 
					<label th:if="${#fields.hasErrors('passwordNew')}" th:errors="*{passwordNew}" class="validation-message"></label>
				</div>
				<div class="form-group">
					<input type="password" th:field="*{passwordNewSecond}" th:placeholder="#{register.password}" class="form-control bootstrap-tagsinput" /> 
					<label th:if="${#fields.hasErrors('passwordNewSecond')}" th:errors="*{passwordNewSecond}" class="validation-message"></label>
				</div>
				<div th:if="${param.passwordSuccess}">
					<p style="font-size: 18; color: green;" th:text="#{password.reset.success}"></p>
				</div>
				<button type="submit" class="btn btn-primary" th:text="#{password.reset.save}"></button>
			</form>
		
		</div>

	</div>
	<th:block th:include="fragments/includes :: footer"></th:block>

</body>
</html>